---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
    <div class="row mt-5 mb-5">
        <div class="col-md-12 text-center">
            <h1>404 Not Found !</h1>
        </div>
    </div>
</Layout>